body {
  font-size: 105%;
  font-family: sans-serif;
  text-align: center;
  padding: 0 5rem;
}

body>section {
  margin: 5rem;
}

.roll-type-option,
.dice-type-option {
  margin: auto 2rem;
}

header {
  font-size: 125%;
  margin: 2rem auto 1.5rem auto;
}

.dice-properties {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.dice-properties input {
  display: block;
  margin: auto;
}

.text-block {
  margin: 1rem auto;
  text-align: left;
  width: 50%;
}

.roll-options {
  margin: 1rem auto;
}

.opposed-dice {
  display: none;
}

.probability-table {
  margin: 1rem auto;
  border-collapse: collapse;
}

.probability-table tr:first-child {
  border-bottom: 1px solid black;
}

.probability-table td,
.probability-table th {
  padding: 0.2rem 0.6rem;
}

.failure-display {
  color: red;
}

.partial-success-display {
  color: greenyellow;
}

.success-display {
  color: green;
}

.critical-success-display {
  color: darkgreen;
}

.result {
  display: none;
}

.result-counters-box {
  display: inline-block;
  margin: auto;
  text-align: left;
}

.dc-count {
  color: red;
}

.success-count {
  color: green;
}

.result-summary {
  display: none;
  margin: 1rem;
}

.result-text {
  display: none;
}

.result-text.visible {
  display: block;
}
